      <footer class="footer">
        <ul class="footer-links">
        </ul>
      </footer>
	  
    </div>
	

  {{ template "_internal/google_analytics.html" . }}
  <script>
/**
* Function that tracks a click on an outbound link in Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {
     'transport': 'beacon',
     'hitCallback': function(){document.location = url;}
   });
}
</script>

	<!---add vimeo.js even tracking code -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script src="js/vimeo.ga.min.js"></script>
	
  </body>
</html>
